.header {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 5rem;
  margin-left: 3rem;

  &__heading-1 {
    font-family: ptserif;
    font-weight: 700;
    font-size: 3.6rem;
    letter-spacing: -0.04rem;
  }

  &__description {
    font-family: poppins;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.7rem;
  }
  &__heading-2 {
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

.gallery {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  justify-items: center;

  &__element-right {
    // transform: translateY(0rem);
    @media only screen and (min-width: $bp-1x6) {
      margin-top: 6rem;
    }

    @media only screen and (min-width: $bp-2x3) {
      margin-top: 0rem;
    }
  }

  &__element-center {
    // transform: translateY(0rem);

    @media only screen and (min-width: $bp-2x3) {
      margin-top: 5rem;
      // transform: translateY(6rem);
    }
  }
  .photo {
    display: inline-flex;
  }

  &__element:hover {
    cursor: pointer;
    transition: all 0.1s;
    transform: translateY(-1rem);
  }
  &__team-position {
    font-family: ptserif;
    font-weight: 600;
    font-size: 1.2rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-left: 0.11rem;
    letter-spacing: 0.1rem;
  }

  &__img {
    width: 25rem;
    border-radius: 5px;
  }
  &__person-name {
    font-family: poppins;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 1rem;
  }
}

.footer {
  grid-row: 3/4;
  grid-column: center-start / center-end;
  font-family: montserrat;
  font-weight: 700;
  color: #727171a9;
  text-align: center;
}
